@model List<Sneaker>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h2>Sneakers</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Release Date</th>
            <th>Colorway</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.ReleaseDate</td>
                <td>@item.Colorway</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">Id: @item.Id</p>
                <p class="card-text">Release Date: @item.ReleaseDate</p>
                <p class="card-text">Color Way: @item.Colorway</p>
                <p class="card-text">Price: @item.Price</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>
